
h1{color: pink;}

.list_text{
    color: rgb(235, 113, 134);
}
li .page-link{
    color: rgb(235, 113, 134);

}
nav .navbar-brand{
    color: rgb(235, 113, 134);
}
.jumbotron_text{
    color: rgb(235, 113, 134);;
}